* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body .container {
  max-width: 2000px;
  margin: 0 auto;
  padding: 0;
}

body .container .row {
  margin: 0;
  padding: 0;
}

.cover {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.cover .cover__img {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(21, 126, 158, 0.801)), to(rgba(44, 31, 26, 0.75))), url("../images/hero.jpg") no-repeat center center fixed;
  background: linear-gradient(rgba(21, 126, 158, 0.801), rgba(44, 31, 26, 0.75)), url("../images/hero.jpg") no-repeat center center fixed;
  background-size: cover;
  width: 100%;
  height: 550px;
}

.cover .cover__title {
  text-align: center;
  position: absolute;
  color: white;
  font-size: 12px;
}

.description__container .description {
  margin-top: 50px;
  padding: 0 30px;
  text-align: center;
}

.description__container .description .paragraph__description {
  margin-top: 50px;
}

.service .title__service {
  text-align: center;
  margin: 50px 0;
}

.service .service__container .service__img {
  display: none;
}

.service .service__container .service__information {
  padding: 0 10px;
}

.service .service__container .service__information .service__information--top .container__information {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 20px;
}

.service .service__container .service__information .service__information--top .container__information .ico__service {
  padding-top: 10px;
  color: green;
}

.service .service__container .service__information .service__information--top .container__information .information {
  padding-left: 10px;
}

.service .service__container .service__information .service__information--botton .container__information {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 20px;
}

.service .service__container .service__information .service__information--botton .container__information .ico__service {
  padding-top: 10px;
  color: green;
}

.service .service__container .service__information .service__information--botton .container__information .information {
  padding-left: 10px;
}

@media (min-width: 480px) {
  .service__information--botton .container__information .ico__service,
  .service__information--top .container__information .ico__service {
    padding-top: 10px;
    font-size: 30px;
  }
}

@media (min-width: 768px) {
  .service .service__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .service .service__container .service__information .service__information--top,
  .service .service__container .service__information .service__information--botton {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .service .service__container .service__information .service__information--top .container__information,
  .service .service__container .service__information .service__information--botton .container__information {
    width: 50%;
  }
  .service .service__container .service__information .service__information--top .container__information .ico__service,
  .service .service__container .service__information .service__information--botton .container__information .ico__service {
    padding-top: 5px;
  }
}

@media (min-width: 950px) {
  .service .service__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .service .service__container .service__img {
    display: inline;
    width: 50%;
    text-align: center;
  }
  .service .service__container .service__information {
    width: 50%;
  }
}

.category {
  text-align: center;
}

.category .category__description {
  width: 100%;
  margin-top: 50px;
}

.category .category__description .category__title {
  padding-bottom: 40px;
}

.category .category__container--img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.category .category__container--img .col-sm-4 {
  margin-bottom: 20px;
}

.category .category__container--img .col-sm-4 .img__category {
  width: 500px;
}

.guides .guide__images {
  padding: 0;
}

.guides .guide__images .img__guide {
  width: 100%;
}

.guides .guides__container {
  background-color: #0d5b0d;
  font-size: 18px;
  font-style: italic;
  color: white;
  padding: 50px 20px;
}

.guides .guides__container .title__guides {
  margin-bottom: 20px;
}

.guides .guides__container .guides__container--description .guides__description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 20px;
}

.guides .guides__container .guides__container--description .guides__description .guides__ico {
  font-size: 60px;
  border: 2px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 20px;
}

.guides .guides__container .guides__container--description .guides__description .guides__paragraph {
  vertical-align: middle;
  text-align: left;
  margin: 0;
}

@media (min-width: 950px) {
  .guides {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .guides .guide__images {
    width: 50%;
  }
  .guides .guide__images .img__guide {
    height: 500px;
  }
  .guides .guides__container {
    width: 50%;
    padding-top: 70px;
  }
}

.bar {
  background: green;
  width: 100%;
  color: white;
}

.bar .bar__container {
  text-align: center;
  padding: 20px 0;
}

.bar .bar__container .title__bar {
  padding: 0 10px;
}

.bar .bar__container .btn__bar {
  background-color: #199319;
  color: white;
  margin-top: 20px;
  padding: 15px 40px;
  text-decoration: none;
  cursor: pointer;
  border-radius: 18px;
  border: white solid 1px;
  font-weight: 800;
  font-size: 18px;
  vertical-align: middle;
}

.bar .bar__container .btn__bar:hover {
  color: #1883ba;
  background-color: #ffffff;
}

@media (min-width: 950px) {
  .bar .bar__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .bar .bar__container .btn__bar {
    margin-top: 0;
    margin-left: 20px;
  }
}

.map {
  position: relative;
  color: white;
  border: none;
}

.map iframe {
  width: 100%;
  height: 500px;
}

.map .map__container {
  position: absolute;
  right: 0;
  left: 0;
  top: 100px;
  padding: 10px;
  border-radius: 6px;
  background-color: rgba(0, 0, 0, 0.8);
}

.map .map__container .map__contac .map__description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 30px 0;
}

.map .map__container .map__contac .map__description .map__paragraph {
  margin: 0;
}

.map .map__container .map__contac .map__description .map__ico {
  color: green;
  margin-right: 20px;
  font-size: 20px;
}

@media (min-width: 576px) {
  .map .map__container {
    position: absolute;
    right: 0;
    left: auto;
    top: 100px;
    padding: 20px;
    margin-right: 100px;
    width: 400px;
  }
}

footer {
  background: #2a2828;
  color: white;
  width: 100%;
  padding: 20px;
}

footer .paragraph__footer {
  margin: 0;
  text-align: center;
}
