.bar {
  background: green;
  color: white;
  padding: 40px;
  .bar__container {
    max-width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    .title__bar {
      margin: 0;
      padding: 15px 40px;
    }
    .btn__bar {
      background-color: #199319;
      color: white;
      padding: 15px 40px;
      text-decoration: none;
      cursor: pointer;
      border-radius: 18px;
      border: white solid 1px;
      font-weight: 800;
      font-size: 18px;
      vertical-align: middle;
    }
    .btn__bar:hover {
      color: #1883ba;
      background-color: #ffffff;
    }
  }
}
