.category {
  text-align: center;
  .category__description {
    width: 100%;

    margin-top: 50px;
    .category__title {
      padding-bottom: 40px;
    }
  }
  .category__container--img {
    display: flex;
    justify-content: center;
    align-items: center;

    .col-sm-4 {
      margin-bottom: 20px;

      .img__category {
        width: 500px;
      }
    }
  }
}
