.category {
  text-align: center;
  .category__description {
    width: 100%;

    margin-top: 50px;
    .category__title {
      padding-bottom: 40px;
    }
  }
  .category__container--img {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .img__category {
    width: 500px;
    height: 300px;
  }
}
