.service {
  margin: 0 auto;
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  border: none;
}

.ico__service {
  color: green;
  font-size: 30px;
}

.img_service {
  width: 60%;
}
